name: Release

on:
  push:
    # Build and publish artifacts for a release
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE_REGISTRY: ${{ vars.IMAGE_REGISTRY }}
    steps:

      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: amd64  

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log into GitHub Container Registry
        run: echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u ${GITHUB_ACTOR,,} --password-stdin

      - name: Build Image
        run: IMAGE_REGISTRY="${{ env.IMAGE_REGISTRY }}" make docker-build

      - name: Push Image
        run: IMAGE_REGISTRY="${{ env.IMAGE_REGISTRY }}" make docker-push